@import "compass";
@import "partials/base";
@import "partials/colors";
@import "partials/textsize";
@import "compass/css3";

.container{min-width:1024px; min-height:100%; margin-bottom:-120px;}

#wrapper{
	background-color:$white;
	width:1024px;
	margin:0 auto;
}

#header{
	height:80px;
	background-color:$light-red;
	width:100%;

	.logo{
		height:100%;
		margin-left: 10%;
		h1{
			color: $white;
			font-size: $xx-large;
			padding-top:($xx-large/3);
		}
	}

	.menubtn{
		display: block;
		margin-top: 20px;
		margin-right: 40px;
		height: inherit;
		width: 40px;
		height: 80px;
		float: left;
		position: absolute;
		overflow: auto;
		transform: rotate(0deg);
		-webkit-transform: rotate(0px);
		-moz-transform: rotate(0deg);
		transition: 0.4s;
		&:hover{
			width: 50px;
		}
		span{
			width: 100%;
			height: 2px;
			background-color: $white;
			position: absolute;
		}
		#lone{top: 0%;}
		#ltwo{top: 20%;}
		#lthree{top: 40%;}
	}
}

.barextended{
	transform: rotate(90deg);
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(90deg);
	transition: 0.4s;
}

.barextended>#lone{
	top: 45%;
	transform: rotate(90deg);
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(90deg);
	transition: 0.4s;
}
.barextended>#lthree{
	bottom: 50%;
	transform: rotate(90deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(90deg);
	transition: 0.4s;
}

.menubar{
	/*Hide the sidebar for now.*/
	display:none;

	height:100%;
	position:fixed;
	width:25%;
	background-color:$light-red;

	nav{
		ul{
			li{
				display: block;
				a{
					font-size: $xx-large;
					text-transform: lowercase;
					display: block;
					padding: 10px 0px 10px 15px;
				}
			}
		}
	}
}

.content{
	width:100%;

	.rbox{
		display: inline-block;
		padding: 20px 30px;
		.storename{
			font-size: $xx-large;
			color: $light-red;
		}
		.amount{
			text-align: right;
			font-size: $x-large;
			color:$gray;
			.currency{
				border-bottom: 1px dotted $gray;
			}
		}
		.day{
			@extend .amount;
			padding-top:4px;
			font-size: $medium;
		}
	}	
}

/*TODO: fix footer to bottom without absolute*/
#footer{
	//@extend %fullwidthBlack;
	background-color:$gray;
	width:100%;
	display:block;
	height:120px;
}