@import "compass";
@import "partials/base";
@import "partials/colors";
@import "partials/textsize";
@import "partials/mixin";
@import "compass/css3";

.container{min-width:1024px; min-height:100%;}

#wrapper{
	background-color:$white;
	width:1024px;
	margin:0 auto;
}

#header{
	height:80px;
	background-color:$light-red;
	width:100%;

	.logo{
		height:100%;
		//margin-left: 5%;
		text-align: center;
		h1{
			display: inline-block;
			color: $white;
			font-size: $xx-large;
			padding-top:($xx-large/3);
			&:hover{
				@extend %hoveraction;
			}
		}
		img[alt="Mango Logo"]{
			display: inline-block;
			margin-top: 30px;
			height: 20px;
			width: auto;
			//content: image-url("mango.png");
		}
	}

	.menubtn{
		display: block;
		margin-top: 20px;
		margin-right: 40px;
		height: inherit;
		width: 40px;
		height: 80px;
		float: left;
		position: absolute;
		overflow: auto;
		transform: rotate(0deg);
		-webkit-transform: rotate(0px);
		-moz-transform: rotate(0deg);
		transition: 0.4s;
		&:hover{
			width: 50px;
			cursor: pointer;
		}
		span{
			width: 100%;
			height: 2px;
			background-color: $white;
			position: absolute;
		}
		#lone{top: 0%;}
		#ltwo{top: 20%;}
		#lthree{top: 40%;}
	}
}

.barextended{
	transform: rotate(90deg);
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(90deg);
	transition: 0.4s;
}

.barextended>#lone{
	top: 45%;
	transform: rotate(90deg);
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(90deg);
	transition: 0.4s;
}
.barextended>#lthree{
	bottom: 50%;
	transform: rotate(90deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(90deg);
	transition: 0.4s;
}

.menubar{
	/*Hide the sidebar for now.*/
	display:none;
	@include transition(0.5s);
	height:100%;
	position:fixed;
	top:80px;
	width:100%;
	background-color:$light-red;

	nav{
		padding-top:40px;
		ul{
			text-align: center;
			li{
				a{
					font-size: $xx-large;
					text-transform: lowercase;
					display: block;
					padding: 10px 0px;
					&:hover{
						@extend %hoveraction;
					}
				}
			}
		}
	}
}

.content{
	width:100%;
	margin-bottom:80px;

	.searchinput{
		margin: 0 auto;
		width: 50%;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 20px;
		input{
			padding:10px;
			border:0;
			width: 80%;
			font-size: $x-large;
		}
		span{
			padding:5px 10px;
			font-size: $x-large;
			border-radius:50%;
			&:hover{
				@extend %hoveraction;
				color: $white;
				background-color:$light-red;
			}
		}
	}

	.bottomborder{
		width: 100%;
		border-bottom:0.5px solid rgba(0,0,0,0.3);
	}

	.addbox{
		display:none;
		text-align: left;
		background-color:$light-gray;
		padding:20px 0px 0px 0px;
		input{
			padding:10px;
			background-color:transparent;
			text-align: left;
			width: 40%;
			border-bottom:0.5px solid rgba(0,0,0,0.3);
		}
		button{
			color: $white;
			font-size:$large;
			width: 100%;
			border:0;
			background-color:$dark-red;
			height: 40px;
		}
	}

	.rbox{
		display: inline-block;
		padding: 20px 30px;
		.storename{
			font-size: $xx-large;
			color: $light-red;
		}
		.amount{
			text-align: right;
			font-size: $x-large;
			color:$gray;
			.currency{
				border-bottom: 1px dotted $gray;
			}
		}
		.day{
			@extend .amount;
			padding-top:4px;
			font-size: $medium;
		}
	}	
}

/*TODO: fix footer to bottom without absolute*/
#footer{
	//@extend %fullwidthBlack;
	background-color:$gray;
	width:100%;
	display:block;
	height:240px;
}