@import "compass";
@import "partials/base";
@import "partials/colors";
@import "partials/textsize";

#wrapper{
	background-color:$white;
	width:1024px;
	margin:0 auto;
}

#header{
	height:80px;
	@extend %fullwidthBlack;
	nav{
		ul{
			li{
				display: inline-block;
				a{
					
				}
			}
		}
	}
}

.content{
	table{
		display: block;
		width: 100%;
		height: 400px;
		tr{
			&:nth-child(odd){
				background-color:$light-gray;
			}
			&:nth-child(even):hover{
				background-color:$light-gray;
			}
			&:nth-child(odd):hover{
				background-color:$white;
			}
		}
		td{
			width: 200px;
		}
	}	
}

/*TODO: fix footer to bottom without absolute*/
#footer{
	@extend %fullwidthBlack;
	display:block;
	position: absolute;
	bottom:0;
	left:0;
	height:120px;
}