@import "partials/colors";
@import "partials/textsize";

/*----------------------------HTML BASE----------------------------*/
*{margin:0;padding:0;}
html{height:100%;width:100%;}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size: $medium;
	background-color:$white;
	width:100%;
	height:100%;
}
div{box-sizing:border-box;}

textarea,input{outline:none;}

/*----------------------------TEXT BASE----------------------------*/
h1{}
p{}
a{text-decoration:none; color:$white; font-size:$medium;}

/*----------------------------TABLE BASE----------------------------*/
table{border-collapse:collapse; font-size: $large;}
tr{}
td{}

/*----------------------------FUNCTIONS----------------------------*/
%fullwidthBlack{
	width:100%;
	background-color:$black;
}

%hoveraction{
	color: $dark-red;
	cursor: pointer;
	@include transition(0.5s);
}

.fixed{
	top:0;
	left:0;
	position:fixed;
}



