/*----------------------------HTML BASE----------------------------*/
/* line 5, ../sass/partials/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/partials/_base.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/partials/_base.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

/* line 14, ../sass/partials/_base.scss */
div {
  box-sizing: border-box;
}

/*----------------------------TEXT BASE----------------------------*/
/* line 19, ../sass/partials/_base.scss */
a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1em;
}

/*----------------------------TABLE BASE----------------------------*/
/* line 22, ../sass/partials/_base.scss */
table {
  border-collapse: collapse;
  font-size: 1.3em;
}

/*----------------------------FUNCTIONS----------------------------*/
/* line 7, ../sass/styles.scss */
.container {
  min-width: 1024px;
  min-height: 100%;
  margin-bottom: -120px;
}

/* line 9, ../sass/styles.scss */
#wrapper {
  background-color: #FFFFFF;
  width: 1024px;
  margin: 0 auto;
}

/* line 15, ../sass/styles.scss */
#header {
  height: 80px;
  background-color: #d03636;
  width: 100%;
}
/* line 20, ../sass/styles.scss */
#header .logo {
  height: 100%;
  margin-left: 10%;
}
/* line 23, ../sass/styles.scss */
#header .logo h1 {
  color: #FFFFFF;
  font-size: 2em;
  padding-top: 0.66667em;
}
/* line 27, ../sass/styles.scss */
#header .logo h1:hover {
  color: #9d0000;
  cursor: pointer;
  transition: 0.5s;
}
/* line 35, ../sass/styles.scss */
#header .menubtn {
  display: block;
  margin-top: 20px;
  margin-right: 40px;
  height: inherit;
  width: 40px;
  height: 80px;
  float: left;
  position: absolute;
  overflow: auto;
  transform: rotate(0deg);
  -webkit-transform: rotate(0px);
  -moz-transform: rotate(0deg);
  transition: 0.4s;
}
/* line 49, ../sass/styles.scss */
#header .menubtn:hover {
  width: 50px;
  cursor: pointer;
}
/* line 53, ../sass/styles.scss */
#header .menubtn span {
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
}
/* line 59, ../sass/styles.scss */
#header .menubtn #lone {
  top: 0%;
}
/* line 60, ../sass/styles.scss */
#header .menubtn #ltwo {
  top: 20%;
}
/* line 61, ../sass/styles.scss */
#header .menubtn #lthree {
  top: 40%;
}

/* line 65, ../sass/styles.scss */
.barextended {
  transform: rotate(90deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(90deg);
  transition: 0.4s;
}

/* line 72, ../sass/styles.scss */
.barextended > #lone {
  top: 45%;
  transform: rotate(90deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(90deg);
  transition: 0.4s;
}

/* line 79, ../sass/styles.scss */
.barextended > #lthree {
  bottom: 50%;
  transform: rotate(90deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(90deg);
  transition: 0.4s;
}

/* line 87, ../sass/styles.scss */
.menubar {
  /*Hide the sidebar for now.*/
  display: none;
  height: 100%;
  position: fixed;
  width: 25%;
  background-color: #d03636;
}
/* line 98, ../sass/styles.scss */
.menubar nav ul li {
  display: block;
}
/* line 100, ../sass/styles.scss */
.menubar nav ul li a {
  font-size: 2em;
  text-transform: lowercase;
  display: block;
  padding: 10px 0px 10px 15px;
}

/* line 111, ../sass/styles.scss */
.content {
  width: 100%;
}
/* line 114, ../sass/styles.scss */
.content .rbox {
  display: inline-block;
  padding: 20px 30px;
}
/* line 117, ../sass/styles.scss */
.content .rbox .storename {
  font-size: 2em;
  color: #d03636;
}
/* line 121, ../sass/styles.scss */
.content .rbox .amount, .content .rbox .day {
  text-align: right;
  font-size: 1.6em;
  color: #2b2b2b;
}
/* line 125, ../sass/styles.scss */
.content .rbox .amount .currency, .content .rbox .day .currency {
  border-bottom: 1px dotted #2b2b2b;
}
/* line 129, ../sass/styles.scss */
.content .rbox .day {
  padding-top: 4px;
  font-size: 1em;
}

/*TODO: fix footer to bottom without absolute*/
/* line 138, ../sass/styles.scss */
#footer {
  background-color: #2b2b2b;
  width: 100%;
  display: block;
  height: 120px;
}
