/*----------------------------HTML BASE----------------------------*/
/* line 5, ../sass/partials/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/partials/_base.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/partials/_base.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

/*----------------------------TEXT BASE----------------------------*/
/* line 18, ../sass/partials/_base.scss */
a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1em;
}

/*----------------------------TABLE BASE----------------------------*/
/* line 21, ../sass/partials/_base.scss */
table {
  border-collapse: collapse;
  font-size: 1.3em;
}

/*----------------------------FUNCTIONS----------------------------*/
/* line 26, ../sass/partials/_base.scss */
#header, #footer {
  width: 100%;
  background-color: #000000;
}

/* line 6, ../sass/styles.scss */
#wrapper {
  background-color: #FFFFFF;
  width: 1024px;
  margin: 0 auto;
}

/* line 12, ../sass/styles.scss */
#header {
  height: 80px;
}
/* line 17, ../sass/styles.scss */
#header nav ul li {
  display: inline-block;
}

/* line 28, ../sass/styles.scss */
.content table {
  display: block;
  width: 100%;
  height: 400px;
}
/* line 33, ../sass/styles.scss */
.content table tr:nth-child(odd) {
  background-color: #e6e6e6;
}
/* line 36, ../sass/styles.scss */
.content table tr:nth-child(even):hover {
  background-color: #e6e6e6;
}
/* line 39, ../sass/styles.scss */
.content table tr:nth-child(odd):hover {
  background-color: #FFFFFF;
}
/* line 43, ../sass/styles.scss */
.content table td {
  width: 200px;
}

/*TODO: fix footer to bottom without absolute*/
/* line 50, ../sass/styles.scss */
#footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 120px;
}
